
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

    <h1>Create a new service</h1>

    <%= render 'form', service: @service %>

    <p> <%= link_to 'Back to all services', new_service_path %> </p>

    </div>
  </div>
</div>
