<h1>Services#show</h1>
<p>Find me in app/views/services/show.html.erb</p>

<h1><%= @service.title %>

<%= link_to 'Edit service', edit_service_path(@service.id) %>
<%= link_to 'Delete service', service_path(@service.id), method: :delete %>
