<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>


<div class="container">

<h1> All your bookings available at the moment </h1>

  <% @bookings.each do |x| %>
    <p> <%= x.start_time %>: <%= x.total_price %>€ - <%= link_to 'see details 🔎', bookings_path(x.id) %></p>
  <% end %>

<%= link_to 'Create a new service', new_service_path %>

</div>
