<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<!-- #Navbar -------------- -->

<!-- -------------Banner---------------------- -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>World renowned <strong> "Wanted" cater for all of your entertainment requirements</strong>!</h1>
    <p>(Huffington Post April 2019)</p>
    <!-- <a href="..." button type="button" class="btn btn-primary btn-lg btn-block">Category</a> -->
    <div class="text-center py-3">
      <a href="/services" class="mr-2 btn btn-lg btn-primary">Buy a Service</a>
      <a href="/services/new" class="btn btn-lg btn-primary">Sell a Service</a>
    </div>

  </div>
</div>

<!-- -------------------------------------------- -->

<!-- Cards --------- Easy find ----------- -->
<div class="container my-4">
  <div class="prospect request">
  <strong>What can we help you find today?</strong>
  <h1>Take a look below <strong>at </strong> our top trending <strong> offerings!</strong>!</h1> </h1>
  </div>
</div>
<div class="container">

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.vanityfair.com/photos/58f1226e50cecc47a7701b89/16:9/w_1280,c_limit/elvis-presley.jpg)">
    <!-- https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> -->
    Musician
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.shutterstock.com/image-photo/handsome-bodyguard-near-car-outdoors-260nw-716779372.jpg)">
    Bodyguard
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj4isEI8fnscib-thcr22yS0CmgAzTfJwwdmeklGEo6mAqXqo95A)">
    Model
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwDf0onfA4gGM3XILQsY0XvbkkO5NSVtuUPTugZsV7v9xeV2qJ8g)">
    Impersinator
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeHBhenV7eLYrG-aBJTUGbXfc22hmq2lAdXJL8zp6HDyIMYliG4Q)">
    Actor
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.entrepreneur.com/content/3x2/2000/1387488102-tony-robbins-7-forces-business-mastery.jpg?width=700&crop=2:1)">
    Motivational Speaker
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVF5RjBQc6B2eRECMsLL99LCTDshT7xKPZSq4syOAxUEkBFuP0)">
    Coach
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921)">
    Trainer
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmLBsawCXdrgp4hrJRSvSx5BufEz0nlbgR7HS3QBBLYvO2__68tA)">
    Magician
  </div>
</div>
</div>

</div>
