<div class="container-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1353361/pexels-photo-1353361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div>
  <h1>Who is gonna work for you today?</h1>
  </div>
  <!-- <div class="container-search"> -->
     <%= form_tag services_path, method: :get do %>
    <div class="container-search">
      <%= text_field_tag :query,
        params[:query],
        class: "search-white-bar",
        placeholder: ""
      %>
<!--     </div>
    <div> -->
      <%= submit_tag "search",
      class: "search-button" %>
      <% end %>
    </div>
  <!-- </div> -->
</div>
<!-- Cards --------- Easy find ----------- -->
<div class="container my-4">
  <div class="prospect request">
  <h1 id="page-title">Top categories</h1>
  </div>
</div>
<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.vanityfair.com/photos/58f1226e50cecc47a7701b89/16:9/w_1280,c_limit/elvis-presley.jpg)">
    Musician
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.shutterstock.com/image-photo/handsome-bodyguard-near-car-outdoors-260nw-716779372.jpg)">
    Bodyguard
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj4isEI8fnscib-thcr22yS0CmgAzTfJwwdmeklGEo6mAqXqo95A)">
    Model
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwDf0onfA4gGM3XILQsY0XvbkkO5NSVtuUPTugZsV7v9xeV2qJ8g)">
    Impersinator
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeHBhenV7eLYrG-aBJTUGbXfc22hmq2lAdXJL8zp6HDyIMYliG4Q)">
    Actor
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.entrepreneur.com/content/3x2/2000/1387488102-tony-robbins-7-forces-business-mastery.jpg?width=700&crop=2:1)">
    Motivational Speaker
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVF5RjBQc6B2eRECMsLL99LCTDshT7xKPZSq4syOAxUEkBFuP0)">
    Coach
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d210i8t551lxm.cloudfront.net/images/contents/000/001/355/original/teacher_teaser.jpg?1504864921)">
    Trainer
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmLBsawCXdrgp4hrJRSvSx5BufEz0nlbgR7HS3QBBLYvO2__68tA)">
    Magician
  </div>
  </div>
</div>


