#page-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 22px;
  color: #622d32;
}

#body-header {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 22px;

  margin: 20px 30px;

  color: #622d32;
}

#logo-style {
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
}

#booking-page {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 50px;
  color: #622d32;
  text-decoration: underline;

}

#booking-body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 50px;
  color: #622d32;
  font-size: 25px
}

#total-price {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-decoration: underline;
}
